ACTION!="add|change",SUBSYSTEM!="tty" GOTO="stmcool_rules_end"
ATTRS{idVendor}=="0483", ATTRS{idProduct}=="c001", GROUP="dialout", MODE="0660", SYMLINK+="stmcool"
LABEL="stmcool_rules_end"
